<template name="principle">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Rules</h3>
        </div>
        <div class="panel-body">
            A player is chosen at the beginning of the game to hold the hot potato. At the same time, a countdown is launched. The player who is holding the hot potato must pass it to another player by colliding with him. Players can move around the entire game area, trying to avoid collision with the player who holds the hot potato. At the end of the countdown, the player with the hot potato loses.
        </div>
    </div>
</template>
